apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.mysql.serviceUrl }}
spec:
  selector:
    app: mysql
  ports:
  - port: {{ .Values.service.port }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
  labels:
    app: mysql
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql-server
        image: {{ .Values.mysql.image.repository }}:{{ .Chart.AppVersion }}
        env:
        - name: MYSQL_DATABASE
          value: {{ .Values.mysql.database }}
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-user
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-password
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-root-password
        ports:
        - containerPort: {{ .Values.service.port }}
          name: mysql
        volumeMounts:
        - name: mysql8-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql8-persistent-storage
        persistentVolumeClaim:
          claimName: pvc-{{ .Chart.Name }}
