apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-{{ .Chart.Name }}-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/mysql8"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-{{ .Chart.Name }}
spec:
  volumeName: pv-{{ .Chart.Name }}-volume # Force bind to this PV by name
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
