# Default values for mysql8
global:
  port: &appPort 3306

replicaCount: 1

mysql:
  image:
    repository: mysql
    pullPolicy: IfNotPresent
    tag: ""
  serviceUrl: mysql-service
  rootPassword: c2VjcmV0
  database: SPRING
  user: dG11c2Vy
  password: dG11c2Vy

podLabels: {}

service:
  type: ClusterIP
  port: *appPort

resources:
  limits:
    cpu: 0.5
    memory: 1Gi
  requests:
    cpu: 0.5
    memory: 1Gi

livenessProbe:
  tcpSocket:
    port: *appPort
  initialDelaySeconds: 30
  periodSeconds: 30
readinessProbe:
  tcpSocket:
    port: *appPort
  initialDelaySeconds: 30
  periodSeconds: 30

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}
