# Default values for mysql8
global:
  port: &appPort 3306

replicaCount: 1

mysql:
  image:
    repository: mysql
    pullPolicy: IfNotPresent
    tag: ""
  serviceUrl: mysql-service
  rootPassword: c2VjcmV0
  database: SPRING
  user: dG11c2Vy
  password: dG11c2Vy

podLabels: {}

service:
  type: ClusterIP
  port: *appPort

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 0.5
  #   memory: 1Gi
  # requests:
  #   cpu: 0.5
  #   memory: 1Gi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  tcpSocket:
    port: *appPort
    initialDelaySeconds: 30
    periodSeconds: 30
readinessProbe:
  tcpSocket:
    port: *appPort
    initialDelaySeconds: 30
    periodSeconds: 30

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}
